* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.slider-container {
  display: flex;
  width: 780px;
  height: 260px;
  margin: 0 auto;
  list-style: none;
  border: 1px solid;
}

.slider-item {
  flex-shrink: 0;
  width: 260px;
  height: 100%;
}

.slider-item__img {
  width: 100%;
  border: 1px solid lightblue;
}